/* styles.css */

.navbar {
    background-color: #333; /* Background color */
    overflow: hidden;
    list-style-type: none; /* Ensure contents don't overflow */
}

.navbar a {
    float: left; /* Align links horizontally */
    display: block; /* Display links as block elements */
    color: #fff; /* Link text color */
    text-align: center; /* Center-align text */
    padding: 14px 20px; /* Padding around links */
    text-decoration: none; /* Remove underline */
}

.navbar a:hover {
    background-color: #ddd; /* Background color on hover */
    color: #333; /* Text color on hover */
}
.navbar ul{
    display: flex;
    list-style-type:none;
}
.recipe-list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.recipe-list li{
    margin: 10px;
    width: 29vw;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}
.recipe-list li img{
    width: 90%;
    height: 30vh;
}
.recipe-card-cont{
    display: flex;
    flex-direction: column;
}
.recipe-desc-cont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recipe-desc-cont button{
    
}
.recipe-card-cont h2{
    margin-bottom: 3px;
}

.material-symbols-outlined {
    width: fit-content;
    color: blue;
    cursor: pointer;
  font-variation-settings:
  'FILL' 2,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}