/* Login.css

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #2980b9;
}

.signup-label {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link {
    color: #3498db;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
} */



/* Resetting the default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    /* overflow: hidden; */
    background-color: rgb(245, 246, 241);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
   margin-top: 140px;
    box-sizing: border-box;
    /* min-height: 100vh; */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding doesn't cause overflow */
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.login-button:hover {
    background-color: #2980b9;
}

.signup-label {
    margin-top: 15px;
    font-size: 14px;
    color: #555;
}

.signup-link {
    color: #3498db;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
